In [103]:
#import Packages for our model
import tensorflow as tf

In [104]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [105]:
from tensorflow.keras import layers, datasets, models
from tensorflow.keras.utils import to_categorical

In [111]:
#importing dataset
data=pd.read_csv('/content/penguins.csv')

In [112]:
data

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species,island
0,39.1,18.7,181.0,3750.0,male,Adelie,Torgersen
1,39.5,17.4,186.0,3800.0,female,Adelie,Torgersen
2,40.3,18.0,195.0,3250.0,female,Adelie,Torgersen
3,NaN,NaN,NaN,NaN,NaN,Adelie,Torgersen
4,36.7,19.3,193.0,3450.0,female,Adelie,Torgersen
...,...,...,...,...,...,...,...
339,55.8,19.8,207.0,4000.0,male,Chinstrap,Dream
340,43.5,18.1,202.0,3400.0,female,Chinstrap,Dream
341,49.6,18.2,193.0,3775.0,male,Chinstrap,Dream
342,50.8,19.0,210.0,4100.0,male,Chinstrap,Dream
343,50.2,18.7,198.0,3775.0,female,Chinstrap,Dream

In [113]:
# Drop rows with missing values
data.dropna(inplace=True)

In [114]:
# Fill missing values with the mean
data.fillna(data.mean(), inplace=True)

<ipython-input-114-d9766fc39081>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data.mean(), inplace=True)

In [115]:
data

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species,island
0,39.1,18.7,181.0,3750.0,male,Adelie,Torgersen
1,39.5,17.4,186.0,3800.0,female,Adelie,Torgersen
2,40.3,18.0,195.0,3250.0,female,Adelie,Torgersen
4,36.7,19.3,193.0,3450.0,female,Adelie,Torgersen
5,39.3,20.6,190.0,3650.0,male,Adelie,Torgersen
...,...,...,...,...,...,...,...
339,55.8,19.8,207.0,4000.0,male,Chinstrap,Dream
340,43.5,18.1,202.0,3400.0,female,Chinstrap,Dream
341,49.6,18.2,193.0,3775.0,male,Chinstrap,Dream
342,50.8,19.0,210.0,4100.0,male,Chinstrap,Dream
343,50.2,18.7,198.0,3775.0,female,Chinstrap,Dream

In [116]:
# Save the cleaned dataset
data.to_csv('cleaned_penguins.csv', index=False)

In [117]:
#Encode the species
data['species'].replace(to_replace={
    "Adelie":0,
    "Gentoo":1,
    "Chinstrap":2,
}, inplace = True)

In [118]:
#Encode the islan
data['island'].replace(to_replace={
    "Torgersen":0,
    "Biscoe":1,
    "Dream":2,
}, inplace = True)

In [119]:
#Encode the sex
data['sex'].replace(to_replace={
    "female":0,
    "male":1,
}, inplace = True)

In [120]:
#identify inputs and outputs
x = data.iloc[:, 0:4].values
y = data.iloc[:, 4:7].values

In [121]:
print(x[0:5])

[[  39.1   18.7  181.  3750. ]
 [  39.5   17.4  186.  3800. ]
 [  40.3   18.   195.  3250. ]
 [  36.7   19.3  193.  3450. ]
 [  39.3   20.6  190.  3650. ]]

In [123]:
#Encoded y values
print(y[0:5])

[[1 0 0]
 [0 0 0]
 [0 0 0]
 [0 0 0]
 [1 0 0]]

In [124]:
print(x.shape)
print(y.shape)

(333, 4)
(333, 3)

In [125]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

In [126]:
#create model
model = tf.keras.Sequential ([
    #layers 01
    tf.keras.layers.Dense(10, activation ='relu'),
    #layers 02
    tf.keras.layers.Dense(10, activation ='relu'),
    #layers 03
    tf.keras.layers.Dense(3, activation ='softmax')
    ])
model

In [127]:
#compiling the model
model.compile(optimizer= 'rmsprop',
              loss='categorical_crossentropy',
              metrics = ['accuracy'])

In [128]:
#training the model
model.fit(x_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
27/27 [==============================] - 1s 2ms/step - loss: 690.6606 - accuracy: 0.4098
Epoch 2/100
27/27 [==============================] - 0s 2ms/step - loss: 485.7840 - accuracy: 0.4098
Epoch 3/100
27/27 [==============================] - 0s 2ms/step - loss: 260.9843 - accuracy: 0.4286
Epoch 4/100
27/27 [==============================] - 0s 2ms/step - loss: 64.9486 - accuracy: 0.3872
Epoch 5/100
27/27 [==============================] - 0s 2ms/step - loss: 8.2504 - accuracy: 0.3647
Epoch 6/100
27/27 [==============================] - 0s 2ms/step - loss: 7.7777 - accuracy: 0.3534
Epoch 7/100
27/27 [==============================] - 0s 2ms/step - loss: 8.1096 - accuracy: 0.3684
Epoch 8/100
27/27 [==============================] - 0s 2ms/step - loss: 8.5813 - accuracy: 0.3571
Epoch 9/100
27/27 [==============================] - 0s 2ms/step - loss: 8.9498 - accuracy: 0.3647
Epoch 10/100
27/27 [==============================] - 0s 2ms/step - loss: 8.3307 - accuracy: 0.3496
Epoch 11/100
27/27 [==============================] - 0s 2ms/step - loss: 9.4409 - accuracy: 0.3421
Epoch 12/100
27/27 [==============================] - 0s 2ms/step - loss: 9.6285 - accuracy: 0.3383
Epoch 13/100
27/27 [==============================] - 0s 2ms/step - loss: 11.8283 - accuracy: 0.3496
Epoch 14/100
27/27 [==============================] - 0s 2ms/step - loss: 12.2672 - accuracy: 0.2669
Epoch 15/100
27/27 [==============================] - 0s 2ms/step - loss: 14.2109 - accuracy: 0.2669
Epoch 16/100
27/27 [==============================] - 0s 2ms/step - loss: 12.5743 - accuracy: 0.3271
Epoch 17/100
27/27 [==============================] - 0s 2ms/step - loss: 15.6736 - accuracy: 0.3271
Epoch 18/100
27/27 [==============================] - 0s 2ms/step - loss: 16.6585 - accuracy: 0.3083
Epoch 19/100
27/27 [==============================] - 0s 2ms/step - loss: 16.7016 - accuracy: 0.3045
Epoch 20/100
27/27 [==============================] - 0s 1ms/step - loss: 19.7055 - accuracy: 0.2556
Epoch 21/100
27/27 [==============================] - 0s 2ms/step - loss: 20.3371 - accuracy: 0.3158
Epoch 22/100
27/27 [==============================] - 0s 2ms/step - loss: 21.9475 - accuracy: 0.3195
Epoch 23/100
27/27 [==============================] - 0s 2ms/step - loss: 27.2599 - accuracy: 0.2632
Epoch 24/100
27/27 [==============================] - 0s 2ms/step - loss: 24.1866 - accuracy: 0.3233
Epoch 25/100
27/27 [==============================] - 0s 2ms/step - loss: 30.4865 - accuracy: 0.2744
Epoch 26/100
27/27 [==============================] - 0s 2ms/step - loss: 31.9344 - accuracy: 0.2970
Epoch 27/100
27/27 [==============================] - 0s 2ms/step - loss: 33.2716 - accuracy: 0.3083
Epoch 28/100
27/27 [==============================] - 0s 2ms/step - loss: 33.2947 - accuracy: 0.3233
Epoch 29/100
27/27 [==============================] - 0s 2ms/step - loss: 35.5395 - accuracy: 0.2556
Epoch 30/100
27/27 [==============================] - 0s 2ms/step - loss: 36.0229 - accuracy: 0.3083
Epoch 31/100
27/27 [==============================] - 0s 2ms/step - loss: 39.4735 - accuracy: 0.3008
Epoch 32/100
27/27 [==============================] - 0s 2ms/step - loss: 43.2923 - accuracy: 0.3195
Epoch 33/100
27/27 [==============================] - 0s 2ms/step - loss: 42.6442 - accuracy: 0.2444
Epoch 34/100
27/27 [==============================] - 0s 2ms/step - loss: 47.8165 - accuracy: 0.2669
Epoch 35/100
27/27 [==============================] - 0s 2ms/step - loss: 57.4994 - accuracy: 0.2820
Epoch 36/100
27/27 [==============================] - 0s 2ms/step - loss: 56.7016 - accuracy: 0.2594
Epoch 37/100
27/27 [==============================] - 0s 2ms/step - loss: 57.1303 - accuracy: 0.3083
Epoch 38/100
27/27 [==============================] - 0s 2ms/step - loss: 62.4793 - accuracy: 0.2744
Epoch 39/100
27/27 [==============================] - 0s 2ms/step - loss: 57.6349 - accuracy: 0.2932
Epoch 40/100
27/27 [==============================] - 0s 3ms/step - loss: 65.6433 - accuracy: 0.2820
Epoch 41/100
27/27 [==============================] - 0s 2ms/step - loss: 73.6114 - accuracy: 0.3008
Epoch 42/100
27/27 [==============================] - 0s 3ms/step - loss: 76.3650 - accuracy: 0.2820
Epoch 43/100
27/27 [==============================] - 0s 3ms/step - loss: 70.7235 - accuracy: 0.2669
Epoch 44/100
27/27 [==============================] - 0s 3ms/step - loss: 89.9771 - accuracy: 0.2707
Epoch 45/100
27/27 [==============================] - 0s 3ms/step - loss: 81.1231 - accuracy: 0.2895
Epoch 46/100
27/27 [==============================] - 0s 3ms/step - loss: 97.6136 - accuracy: 0.2744
Epoch 47/100
27/27 [==============================] - 0s 3ms/step - loss: 92.4357 - accuracy: 0.2932
Epoch 48/100
27/27 [==============================] - 0s 2ms/step - loss: 95.4051 - accuracy: 0.3158
Epoch 49/100
27/27 [==============================] - 0s 2ms/step - loss: 95.8183 - accuracy: 0.3120
Epoch 50/100
27/27 [==============================] - 0s 2ms/step - loss: 113.1193 - accuracy: 0.2707
Epoch 51/100
27/27 [==============================] - 0s 2ms/step - loss: 102.7851 - accuracy: 0.2970
Epoch 52/100
27/27 [==============================] - 0s 3ms/step - loss: 104.7109 - accuracy: 0.2932
Epoch 53/100
27/27 [==============================] - 0s 2ms/step - loss: 121.5716 - accuracy: 0.2707
Epoch 54/100
27/27 [==============================] - 0s 2ms/step - loss: 114.6817 - accuracy: 0.3459
Epoch 55/100
27/27 [==============================] - 0s 2ms/step - loss: 109.3811 - accuracy: 0.3271
Epoch 56/100
27/27 [==============================] - 0s 3ms/step - loss: 131.1135 - accuracy: 0.2932
Epoch 57/100
27/27 [==============================] - 0s 2ms/step - loss: 136.7442 - accuracy: 0.2970
Epoch 58/100
27/27 [==============================] - 0s 3ms/step - loss: 139.5571 - accuracy: 0.2707
Epoch 59/100
27/27 [==============================] - 0s 3ms/step - loss: 125.1967 - accuracy: 0.3271
Epoch 60/100
27/27 [==============================] - 0s 2ms/step - loss: 135.4393 - accuracy: 0.3308
Epoch 61/100
27/27 [==============================] - 0s 2ms/step - loss: 156.9077 - accuracy: 0.2782
Epoch 62/100
27/27 [==============================] - 0s 2ms/step - loss: 155.4739 - accuracy: 0.3195
Epoch 63/100
27/27 [==============================] - 0s 2ms/step - loss: 146.6916 - accuracy: 0.3120
Epoch 64/100
27/27 [==============================] - 0s 3ms/step - loss: 158.5462 - accuracy: 0.3008
Epoch 65/100
27/27 [==============================] - 0s 2ms/step - loss: 175.2509 - accuracy: 0.2744
Epoch 66/100
27/27 [==============================] - 0s 3ms/step - loss: 177.8337 - accuracy: 0.2895
Epoch 67/100
27/27 [==============================] - 0s 2ms/step - loss: 180.2624 - accuracy: 0.2895
Epoch 68/100
27/27 [==============================] - 0s 2ms/step - loss: 214.6406 - accuracy: 0.3158
Epoch 69/100
27/27 [==============================] - 0s 2ms/step - loss: 207.2403 - accuracy: 0.2744
Epoch 70/100
27/27 [==============================] - 0s 2ms/step - loss: 180.5820 - accuracy: 0.3158
Epoch 71/100
27/27 [==============================] - 0s 2ms/step - loss: 209.5711 - accuracy: 0.2857
Epoch 72/100
27/27 [==============================] - 0s 3ms/step - loss: 210.6457 - accuracy: 0.2932
Epoch 73/100
27/27 [==============================] - 0s 3ms/step - loss: 225.9658 - accuracy: 0.2669
Epoch 74/100
27/27 [==============================] - 0s 3ms/step - loss: 216.9882 - accuracy: 0.2368
Epoch 75/100
27/27 [==============================] - 0s 2ms/step - loss: 273.8044 - accuracy: 0.2293
Epoch 76/100
27/27 [==============================] - 0s 2ms/step - loss: 229.6709 - accuracy: 0.3083
Epoch 77/100
27/27 [==============================] - 0s 2ms/step - loss: 243.8018 - accuracy: 0.2820
Epoch 78/100
27/27 [==============================] - 0s 2ms/step - loss: 246.4337 - accuracy: 0.2895
Epoch 79/100
27/27 [==============================] - 0s 2ms/step - loss: 233.7568 - accuracy: 0.3045
Epoch 80/100
27/27 [==============================] - 0s 3ms/step - loss: 261.0265 - accuracy: 0.2669
Epoch 81/100
27/27 [==============================] - 0s 2ms/step - loss: 264.8879 - accuracy: 0.2895
Epoch 82/100
27/27 [==============================] - 0s 2ms/step - loss: 225.6123 - accuracy: 0.3271
Epoch 83/100
27/27 [==============================] - 0s 2ms/step - loss: 293.8444 - accuracy: 0.3120
Epoch 84/100
27/27 [==============================] - 0s 2ms/step - loss: 257.0298 - accuracy: 0.2669
Epoch 85/100
27/27 [==============================] - 0s 2ms/step - loss: 304.7645 - accuracy: 0.2782
Epoch 86/100
27/27 [==============================] - 0s 2ms/step - loss: 292.7014 - accuracy: 0.2857
Epoch 87/100
27/27 [==============================] - 0s 2ms/step - loss: 318.8046 - accuracy: 0.2669
Epoch 88/100
27/27 [==============================] - 0s 2ms/step - loss: 329.0879 - accuracy: 0.3195
Epoch 89/100
27/27 [==============================] - 0s 2ms/step - loss: 328.5618 - accuracy: 0.2707
Epoch 90/100
27/27 [==============================] - 0s 2ms/step - loss: 315.1542 - accuracy: 0.2782
Epoch 91/100
27/27 [==============================] - 0s 2ms/step - loss: 341.8588 - accuracy: 0.2368
Epoch 92/100
27/27 [==============================] - 0s 2ms/step - loss: 335.0121 - accuracy: 0.2744
Epoch 93/100
27/27 [==============================] - 0s 2ms/step - loss: 307.8183 - accuracy: 0.2556
Epoch 94/100
27/27 [==============================] - 0s 2ms/step - loss: 380.1912 - accuracy: 0.2932
Epoch 95/100
27/27 [==============================] - 0s 2ms/step - loss: 360.1223 - accuracy: 0.3158
Epoch 96/100
27/27 [==============================] - 0s 2ms/step - loss: 371.4027 - accuracy: 0.2895
Epoch 97/100
27/27 [==============================] - 0s 2ms/step - loss: 378.7351 - accuracy: 0.3120
Epoch 98/100
27/27 [==============================] - 0s 2ms/step - loss: 337.1416 - accuracy: 0.3083
Epoch 99/100
27/27 [==============================] - 0s 2ms/step - loss: 372.5775 - accuracy: 0.2632
Epoch 100/100
27/27 [==============================] - 0s 2ms/step - loss: 409.1158 - accuracy: 0.2782

In [129]:
loss, accuracy = model.evaluate(x_test, y_test, verbose=0)
print('Test Accuracy:', accuracy )
print('Test Loss:', loss)

Test Accuracy: 0.46268656849861145
Test Loss: 125.0089340209961

In [130]:
#see predictesd data
y_pred = model.predict(x_test)
y_pred

3/3 [==============================] - 0s 5ms/step

array([[0.9324533 , 0.        , 0.06754669],
       [0.8872046 , 0.        , 0.11279541],
       [0.9840936 , 0.        , 0.01590639],
       [0.96036124, 0.        , 0.03963884],
       [0.96036124, 0.        , 0.03963884],
       [0.95531917, 0.        , 0.04468087],
       [0.9688562 , 0.        , 0.03114383],
       [0.98087597, 0.        , 0.01912404],
       [0.96036124, 0.        , 0.03963884],
       [0.9626731 , 0.        , 0.03732689],
       [0.96978533, 0.        , 0.03021459],
       [0.9465967 , 0.        , 0.05340333],
       [0.79818684, 0.        , 0.20181324],
       [0.9324533 , 0.        , 0.06754669],
       [0.95257413, 0.        , 0.04742588],
       [0.9099069 , 0.        , 0.09009299],
       [0.95531917, 0.        , 0.04468087],
       [0.89029425, 0.        , 0.10970578],
       [0.96485513, 0.        , 0.03514485],
       [0.9099069 , 0.        , 0.09009299],
       [0.8774767 , 0.        , 0.1225232 ],
       [0.91964257, 0.        , 0.08035747],
       [0.9724147 , 0.        , 0.02758528],
       [0.9433475 , 0.        , 0.05665242],
       [0.9688562 , 0.        , 0.03114383],
       [0.989013  , 0.        , 0.01098694],
       [0.9796676 , 0.        , 0.02033235],
       [0.936285  , 0.        , 0.063715  ],
       [0.96036124, 0.        , 0.03963884],
       [0.91490096, 0.        , 0.08509905],
       [0.9688562 , 0.        , 0.03114383],
       [0.96691406, 0.        , 0.03308598],
       [0.96691406, 0.        , 0.03308598],
       [0.98087597, 0.        , 0.01912404],
       [0.8774767 , 0.        , 0.1225232 ],
       [0.97838473, 0.        , 0.02161534],
       [0.936285  , 0.        , 0.063715  ],
       [0.91490096, 0.        , 0.08509905],
       [0.9433475 , 0.        , 0.05665242],
       [0.9740426 , 0.        , 0.02595736],
       [0.91490096, 0.        , 0.08509905],
       [0.9433475 , 0.        , 0.05665242],
       [0.95531917, 0.        , 0.04468087],
       [0.93991333, 0.        , 0.06008665],
       [0.9755769 , 0.        , 0.02442309],
       [0.91964257, 0.        , 0.08035747],
       [0.91490096, 0.        , 0.08509905],
       [0.9304582 , 0.        , 0.06954174],
       [0.98201376, 0.        , 0.01798621],
       [0.98087597, 0.        , 0.01912404],
       [0.93991333, 0.        , 0.06008665],
       [0.9579122 , 0.        , 0.04208773],
       [0.9796676 , 0.        , 0.02033235],
       [0.936285  , 0.        , 0.063715  ],
       [0.8519528 , 0.        , 0.1480472 ],
       [0.92840874, 0.        , 0.0715912 ],
       [0.8479678 , 0.        , 0.15203224],
       [0.98087597, 0.        , 0.01912404],
       [0.9019207 , 0.        , 0.09807932],
       [0.95531917, 0.        , 0.04468087],
       [0.91964257, 0.        , 0.08035747],
       [0.98087597, 0.        , 0.01912404],
       [0.9496693 , 0.        , 0.05033063],
       [0.9850429 , 0.        , 0.01495709],
       [0.9465967 , 0.        , 0.05340333],
       [0.95257413, 0.        , 0.04742588],
       [0.9890131 , 0.        , 0.01098694]], dtype=float32)

In [131]:
#compare actual outputs and preditded outputs
actual = np.argmax(y_test, axis = 1)
predicted = np.argmax(y_pred, axis = 1)
print(f"Actual: {actual}")
print(f"Predicted: {predicted}")

Actual: [2 2 1 0 0 0 0 1 0 0 1 0 2 1 2 2 1 0 0 2 0 2 1 1 1 0 0 2 2 0 0 0 2 0 2 1 1
 2 1 0 1 1 0 0 0 0 0 2 0 0 1 0 0 1 2 2 2 0 2 1 0 0 0 1 2 2 0]
Predicted: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]